input{
    border: none;
    outline: none;
    background-color: purple;
    color: green;
    border-radius: 10px;

    
}

form{
    justify-content: center;
    align-items: center;
    display: flex;
}