body{
    background-color: rgb(177, 52, 7);
}


label{
    color: rgb(3, 197, 197);
}


input{
    background-color: greenyellow;
}





button{

    
    
    
color: rgb(4, 148, 59);
    background-color: rgb(0, 248, 21);
}