<<<<<<< HEAD
img{
    background-image: url(./21d16aec-4b77-4b70-b443-7ea7a26e33e3.webp);
    background-repeat: no-repeat;
    background-size: cover;
=======
img{
    background-image: url(./21d16aec-4b77-4b70-b443-7ea7a26e33e3.webp);
    background-repeat: no-repeat;
    background-size: cover;
>>>>>>> 45e32c4c8a2c6cc07dd7d82997e10336990c06f1
}