<<<<<<< HEAD
    h1{
        color: rgb(15, 131, 226);
    }        
    h2{
        color: rgb(223, 112, 1);
    }
    
        h3{
        color: rgb(254, 237, 0);
    }
    
    h4{
        text-align: right;
        color: turquoise;
    }
  
    p{
    color: rebeccapurple;
=======
    h1{
        color: rgb(15, 131, 226);
    }        
    h2{
        color: rgb(223, 112, 1);
    }
    
        h3{
        color: rgb(254, 237, 0);
    }
    
    h4{
        text-align: right;
        color: turquoise;
    }
  
    p{
    color: rebeccapurple;
>>>>>>> 45e32c4c8a2c6cc07dd7d82997e10336990c06f1
}