img{
    background-color: rgb(4, 167, 167);

    border-radius: 2%;

    height: 210px;


}
button{
    
    background-color: green;
    
    color: rgb(232, 222, 222);
   
    border-radius: 3px;
    
    border-radius: 4px;

}


h1{
    
    color: green;

}


h2{
    color:rgb(62, 53, 42);
    font-family: monospace;
    margin-left: 200px;
}